<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
<header class="cx-header">
    <div class="cx-header-inner">
        <a href="index.html" class="cx-logo">
            <span class="cx-logo-icon">🌾</span>
            <span class="cx-logo-text">CoAgrix</span>
        </a>
        
        <nav class="cx-nav">
            <a href="index.html" class="cx-nav-link">Inicio</a>
            <a href="registro.html" class="cx-btn cx-btn-outline">Registrarse</a>
        </nav>
    </div>
</header>
</body>
</html>

